:root {
  --white-text: #ffffff;
}

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url(/assets/images/background-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex: 0, 1, 0;
  color: var(--white-text);
  font-weight: 500;
}

nav div {
  color: var(--white-text);
  font-size: 2.5em;
  padding-top: 1em;
}
