:root {
  --white-text: #ffffff;
}

html {
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url(/assets/images/background-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  display: flex;
  padding: 2em;
}

nav {
  display: flex;
  justify-content: center;
  font-weight: 500;
  flex-grow: 1;
}

nav div {
  color: var(--white-text);
  font-size: 2.5em;
  padding: 1.5em;
  margin: 0.2;
}

@media screen and (max-width: 1024px) {
  nav div {
    padding: 1;
    font-size: 2em;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav div {
    padding: 0.5em;
    font-size: 1.5em;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  header,
  nav {
    flex-direction: column;
  }
}
